@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
